<div class="row">
    <div class="col-sm-4">
        <div class="card border-light mb-3">
            <img src="/img/avatars/predeterminado.jpg" alt="Avatar"
                class="card-img-top m-2 mx-auto rounded-circle w-50">
            <div class="card-body text-center">
                <h4>{{user.fullname}}</h4>
                <h5>{{user.username}}</h5>
            </div>
            <div class="card-footer text-center bg-transparent">
                <h2 class="card-title">Amigos</h2>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-light mb-3">
            <div class="card-body">
                <h3>Archivos</h3>
                <div class="row">

                    {{#each file}}

                    <div class="col-md-3">
                        <div class="card text-centered text-white bg-primary mb-3 border-danger mb-3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{name}}
                                </h5>
                                <a href="/files/download/{{id}}" class="btn btn-success">Descargar</a>
                            </div>
                        </div>
                    </div>

                    {{else}}

                    <div class="col-md-3">
                        <div class="card text-centered text-white bg-primary mb-3 border-danger mb-3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    No hay ningun archivo
                                </h5>
                            </div>
                        </div>
                    </div>

                    {{/each}}

                </div>
            </div>
        </div>
    </div>
</div>